@mixin font($font_name, $file_name, $weight, $style) {

	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

@import "fonts";

/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	font-family: "Montserrat";
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.page {
	flex: 1 0 auto;
}

footer {
	flex: 0 0 auto;
}

@import "header";
@import "nav";

/* page */

.page-container {
	display: flex;
	margin-top: 30px;
	@media (max-width: 1160px) {
		flex-direction: column;
	}
}

.page {
	&__side {
		flex: 0 0 255px;
		border: 1px solid #DCDCDC;
		border-radius: 5px;
		@media (max-width: 1160px) {
			flex: auto;
		}
	}
	&__menu {

	}

	&__slider {
		flex: 1 1 auto;
		border-radius: 5px;
		margin: 0px 0px 0px 30px;
		border: 1px solid #DCDCDC;
		@media (max-width: 1160px) {
			border: none;
			margin: 0;
			margin-top: 20px;
		}
	}
	&__container {
		width: 825px;
  	height: 392px;
		@media (max-width: 892px) {
			width: 600px;
		}
		@media (max-width: 648px) {
			width: 270px;
		}
	}
	&__slide-link {
		position: relative;
		& img {
			max-width: 100%;
			height: 100%;
			object-fit: cover;
			transition: all 0.5s ease;
		}
		&:hover img {
			filter: saturate(150%);
			transform: scale(1.02);
		}
	}
	&__text {
		position: absolute;
		font-size: 30px;
		font-weight: 500;
		padding-left: 30px;
		line-height: 150%;
		width: 100%;
		color: #fff;
		bottom: 0;
		left: 0;
		&--red {
			background-color: #FF5050;
		}
		&--green {
			background-color: #228b4e;
		}
		&--blue {
			background-color: #5079ff;
		}
		@media (max-width: 648px) {
			font-size: 20px;
			padding-left: 15px;
		}
	}
}

.menu-page {
	&__list {
		padding-left: 20px;
		@media (max-width: 1160px) {
			display: flex;
			flex-wrap: wrap;
		}
	}

	&__item {
		width: 215px;
		height: 65px;
		padding-left: 45px;
		border-bottom: 1px solid #DCDCDC;
		background: url('../img/icons/aside-icon.svg') left no-repeat;
		&:last-child {
			border: none;
		}
		&:hover {
			
		}
		@media (max-width: 1160px) {
			border: none;
			height: 40px;
		}
	}

	&__link {
		display: flex;
		align-items: center;
		justify-content: left;
		font-weight: 500;
		height: 65px;
		line-height: 17px;
		align-items: center;
		letter-spacing: 0.05em;
		color: #000000;
		&:hover {
			color: #FF5050;
		}
		@media (max-width: 1160px) {
			height: 40px;
		}
	}
}

/* hot-products */

.hot-products {

	&__list {
		display: flex;
		justify-content: space-between;
		margin-top: 30px;
		flex-wrap: wrap;
	}

	&__item {
		flex: 0 1 31.532%;
		height: 100%;
		border-radius: 5px;
		border: 1px solid #C4C4C4;
		&:hover .hot-products__text {
			border-bottom: 5px solid #FF5050;
		}
		@media (max-width: 995px) {
			flex: 0 1 48%;
			margin-bottom: 30px;
		}
		@media (max-width: 670px) {
			flex: 0 1 100%;
		}
	}

	&__link {

	}

	&__img {
		width: 100%;
		height: 150px;
		border-radius: 5px 5px 0px 0px;
		&--bg1 {
			background: url('../img/hot/new-watch.jpg') center / cover no-repeat;
		}
		&--bg2 {
			background: url('../img/hot/macau.jpeg') center / cover no-repeat;
		}
		&--bg3 {
			background: url('../img/hot/store.jpg') center / cover no-repeat;
		}
}

	&__text {
    padding: 10px 15px 5px;
		transition: all 0.5s ease;
		border-radius: 5px;
		border-bottom: 5px solid transparent;
	}
}


/* pop-products */

.pop-products {

	&__inner {
		margin-top: 60px;
	}

	&__title {
	}

	&__list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 40px;
		@media (max-width: 1148px) {
			justify-content: space-evenly;
		}
	}

	&__item {
	}
}
.title {
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
}
.item-product {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 200px;
	min-height: 300px;
	padding: 20px 25px;
	border: 1px solid #DCDCDC;
	border-radius: 5px;
	margin-bottom: 30px;
	&__img {
		width: 150px;
		height: 185px;
		img {
			max-width: 100%;
			height: 185px;
			object-fit: cover;
		}
	}

	&__title {
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		margin-top: 10px;
		color: #323232;
		text-transform: uppercase;
	}

	&__price {
		font-weight: 700;
		font-size: 20px;
		line-height: 24px;
		margin-top: 30px;
		color: #323232;
	}
}
